.navbar{

  background-color: #6c757d;

  height: 3cm;
  margin-bottom: 5mm;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-top: none;
}

.navbar-brand{
  font-weight: bold;
  color:rgba(222, 226, 230, 0.8);
  font-size: xx-large;
  font-family: fa5-proxima-nova,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.navbar-brand:hover{
  color: white;
}
.navbar-nav{
  margin-left: 25%;
}
.nav-item>a{
  color:rgba(222, 226, 230, 0.8);
  font-family: fa5-proxima-nova,Helvetica Neue,Helvetica,Arial,sans-serif;
  text-align: center;
  font-weight: bold;

  font-size: x-large;
  height: 100%;
  padding-right: 1cm;
  padding-left: 1cm;
  border-right: 2px solid black;

}
.nav-item>a:hover{
  color:rgba(237,121,16,0.69);
}
a:active{
  color: white;

}
.adminInfos{

padding-right: 5mm;

}

.adminInfos >p{
  font-weight: bold;
  color:rgba(222, 226, 230, 0.8);
  font-family: fa5-proxima-nova,Helvetica Neue,Helvetica,Arial,sans-serif;


padding-left: 5mm;
}
