nav{

  background-color: rgba(71,64,60,0.17);

  height: 1.5cm;
  margin-bottom: 5mm;

  /*border: 1px solid rgba(0, 0, 0, 0.125);*/
  /*border-left: 1px solid rgba(0, 0, 0, 0.125);*/
  border-bottom: 2px 2px 2px white;
  /*box-shadow: 2px 2px 2px white;*/
}

.navbar-brand{

  font-weight: bold;
  color:rgba(222, 226, 230, 0.8);
  font-size: xx-large;
  font-family: fa5-proxima-nova,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.navbar-brand:hover{
  color: white;
}
.navbar-nav{
  margin-left: 25%;
}
.nav-item{
  margin-right: 3mm;

}
.nav-item>a{
  color:white;
  background-color: rgba(50, 55, 66 ,1);
  font-family: fa5-proxima-nova,Helvetica Neue,Helvetica,Arial,sans-serif;
  text-align: center;
  font-weight: bold;

  font-size: llarge;

  padding-right: 1cm;
  padding-left: 1cm;
  border-right: 2px solid black;
  border: 1px solid rgba(255,255,255,0.7);
  border-radius: 20px;

}
.nav-item>a:hover{
  color:rgba(204,112,23,0.86);
}
.nav-item>a:active{
  color:rgba(204,112,23,0.86);
}

.adminInfos{

padding-right: 5mm;

}

.adminInfos >p{
  font-weight: bold;
  color:rgba(222, 226, 230, 0.8);
  font-family: fa5-proxima-nova,Helvetica Neue,Helvetica,Arial,sans-serif;


padding-left: 5mm;
}
