
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-5">

    <div class="card border-secondary mb-3">
      <div class="card-header">Informations Personelle</div>
      <div class="card-body text-secondary">
        <form  method="" action="">
          <div >
            <div class="form-group">
              <label >Sex</label>
              <select class="custom-select custom-select-lg mb-3"  >
                <option >Mr.</option>
                <option >Mme.</option>
                <option >Mell.</option>
              </select>
            </div>
            <div class="form-group">
              <label >Nom</label>
              <input required type="text" class="form-control"  >
            </div>
            <div class="form-group" >
              <label >Prenom</label>
              <input required type="text" class="form-control"  >
            </div>
            <div class="form-group" >
              <label >Date de Naissance</label>
              <input required type="date" class="form-control" >
            </div>
            <div class="form-group" >
              <label >Situation Familiale</label>
              <select class="custom-select custom-select-lg mb-3" >
                <option >Marié</option>
                <option >Célibataire</option>
              </select>
            </div>
            <div class="form-group" >
              <label >Nombre d'enfants</label>
              <input required type="number" class="form-control" >
            </div>
            <div class="form-group" >
              <label>Adresse</label>
              <input required type="text" class="form-control"   >
            </div>
            <div class="form-group" >
              <label>Téléphone</label>
              <input required type="text" class="form-control" >
            </div>
            <div class="form-group" >
              <label>E-Mail</label>
              <input required type="text" class="form-control" >
            </div>

          </div>

        </form>
      </div>
    </div>

  </div>
  <div class="col-md-5">

    <div class="card border-secondary mb-3">
      <div class="card-header">Informations Profesionelles</div>
      <div class="card-body text-secondary">
        <form #newEmployee="ngForm"  (ngSubmit)="addEmployee(newEmployee)">
          <div >
            <div class="form-group">
              <label >N° CIN</label>
              <input required type="text" class="form-control" >
            </div>
            <div class="form-group" >
              <label >N° C.N.S.S</label>
              <input required type="text" class="form-control"  >
            </div>
            <div class="form-group" >
              <label >Date d'embauche</label>
              <input required type="date" class="form-control" >
            </div>
            <div class="form-group" >
              <label>Fonction</label>
              <select class="custom-select custom-select-lg mb-3" >
                <option *ngFor="let function of listFonction"
                        value="{{function.fonction}}">{{function.fonction}}</option>

              </select>
            </div>

            <div class="form-group" >
              <label>Salare de Base</label>
              <input  type="text" class="form-control" id="NbrMaxFile"  >
            </div>
            <hr>
            <div class="form-group" >

              <input  type="submit" class="btn btn-outline-success float-right" value="Ajouter" >
            </div>

          </div>

        </form>
      </div>
    </div>

  </div>
  <div class="col-md-1"></div>
</div>

