
  <form  #employeeForm="ngForm" (ngSubmit)="addEmployee(employeeForm)">

    <div class="row">
      <div class="col-md-1"></div>
  <div class="col-md-5">

    <div class="card border-secondary mb-3">
      <div class="card-header">Informations Personelle</div>
      <div class="card-body text-secondary">

          <div >
            <div class="form-group">
              <label >Sex</label>
              <select class="custom-select custom-select-lg mb-3"  ngModel name="sex" required >
                <option >Mr.</option>
                <option >Mme.</option>
                <option >Mell.</option>
              </select>
            </div>
            <div class="form-group">
              <label >Nom</label>
              <input    type="text" class="form-control"   ngModel name="nom" required >
            </div>
            <div class="form-group" >
              <label >Prenom</label>
              <input   type="text" class="form-control"   ngModel name="prenom"  required >
            </div>
            <div class="form-group" >
              <label >Date de Naissance</label>
              <input   type="date" class="form-control"   ngModel name="date_de_naissance" required >
            </div>
            <div class="form-group" >
              <label >Situation Familiale</label>
              <select class="custom-select custom-select-lg mb-3"   ngModel name="situationFamiliale" required >
                <option value="M" >Marié</option>
                <option value="C">Célibataire</option>
              </select>
            </div>
            <div class="form-group" >
              <label >Nombre d'enfants</label>
              <input   type="number" class="form-control" value="0"   ngModel name="nbEnfant" required min="0" >
            </div>
            <div class="form-group" >
              <label>Adresse</label>
              <input   type="text" class="form-control"   ngModel name="adresse"  required >
            </div>
            <div class="form-group" >
              <label>Téléphone</label>
              <input   type="text" class="form-control"   ngModel name="telephone" required >
            </div>
            <div class="form-group" >
              <label>E-Mail</label>
              <input   type="text"  class="form-control"   ngModel name="email" required email>
            </div>

          </div>


      </div>
    </div>

  </div>
  <div class="col-md-5">

    <div class="card border-secondary mb-3">
      <div class="card-header">Informations Profesionelles</div>
      <div class="card-body text-secondary">

          <div >
            <div class="form-group">
              <label >N° CIN</label>
              <input   type="text" class="form-control"   ngModel name="numCin" required >
            </div>
            <div class="form-group" >
              <label >N° C.N.S.S</label>
              <input   type="text" class="form-control"   ngModel name="numCNSS" required >
            </div>
            <div class="form-group" >
              <label >Date d'embauche</label>
              <input   type="date" class="form-control"   ngModel name="date_emb" required >
            </div>
            <div class="form-group" >
              <label>Fonction</label>
              <select class="custom-select custom-select-lg mb-3"  ngModel name="fonction" required>
                <option *ngFor="let function of listFonction"
                        value="{{function.fonction}}">{{function.fonction}}</option>

              </select>
            </div>

            <div class="form-group" >
              <label>Salare de Base</label>
              <input   type="text" class="form-control" #SDB  ngModel name="salaireDeBase" required  min="0">
              {{SDB.value}}

            </div>
            <hr>
            <div class="form-group" >

              <button   type="submit" class="btn btn-outline-success float-right" [disabled]="!employeeForm.form.valid" >Ajouter</button>
            </div>

          </div>
      </div>
    </div>

  </div>

  <div class="col-md-1"></div>
</div>
  </form>
