
p{
  height: 2mm;
  text-align: left;
}
.card-body>div{

  border-bottom: solid;
  border-top: solid;
  border-left: solid;
  border-right: solid;
  border-width: 0.2mm;
  border-color: darkslategrey;
  text-align: center;
}

.card-body>div>div{

  border-bottom: solid;

  border-left: solid;
  border-right: solid;
  border-width: 0.2mm;
  border-color: darkslategrey;
}
.content{
  padding-top: 4mm;
  float: left;
}
input{
  height:6mm;
  border-color: darkslategrey;
}
.validate{
  height: 5mm;
}

.card-header{padding: 0}
#saveBtn {
  margin-top: 5mm;margin-bottom: 5mm;
  border-bottom: none;

  border-left: none;
  border-right: none;
}
.modal-body{
  padding-right: 30cm;
}

