
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-5">

    <div class="card border-secondary mb-3">
      <div class="card-header">Informations Personelle</div>
      <div class="card-body text-secondary">
        <form  method="" action="">
          <div >
            <div class="form-group">
              <label >Nom</label>
              <input required type="text" class="form-control" value="{{employee.nom}}" >
            </div>
            <div class="form-group" >
              <label >Prenom</label>
              <input required type="text" class="form-control" value="{{employee.prenom}}" >
            </div>
            <div class="form-group" >
              <label >Date de Naissance</label>
              <input required type="text" class="form-control" value="{{employee.date_de_naissance}}">
            </div>
            <div class="form-group" >
              <label>Adresse</label>
              <input required type="text" class="form-control" id="NbrMaxFile" value="{{employee.adresse}}" >
            </div>
            <div class="form-group" >
              <label>Téléphone</label>
              <input required type="text" class="form-control" value="{{employee.telephone}}">
            </div>
            <div class="form-group" >
              <label>E-Mail</label>
              <input required type="text" class="form-control" value="{{employee.email}}">
            </div>

          </div>

        </form>
      </div>
    </div>

  </div>
  <div class="col-md-5">

    <div class="card border-secondary mb-3">
      <div class="card-header">Informations Profesionelles</div>
      <div class="card-body text-secondary">
        <form  method="" action="">
          <div >
            <div class="form-group">
              <label >N° CIN</label>
              <input required type="text" class="form-control" value="{{employee.numCin | uppercase}}" >
            </div>
            <div class="form-group" >
              <label >N° C.N.S.S</label>
              <input required type="text" class="form-control" value="{{employee.numCNSS}}" >
            </div>
            <div class="form-group" >
              <label >Date d'embauche</label>
              <input required type="text" class="form-control" value="{{employee.date_emb}}">
            </div>
            <div class="form-group" >
              <label>Fonction</label>
              <input required type="text" class="form-control" id="" value="{{employee.fonction}}" >
            </div>

            <div class="form-group" >
              <label>Salare de Base</label>
              <input  type="text" class="form-control" id="NbrMaxFile" value="{{employee.salaireDeBase}} DH" >
            </div>

          </div>

        </form>
      </div>
    </div>

  </div>
  <div class="col-md-1"></div>
</div>

