tr{
  cursor: pointer;
}
thead{
  background-color: #6c757d;
  color:white;
font-family: fa5-proxima-nova,Helvetica Neue,Helvetica,Arial,sans-serif;;
}




table {
  width: 100%;
  border: 1px solid darkgrey;
}

thead, tbody, tr, td, th { display: block; }

tr:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}

thead th {
  height: 1.5cm;

  /*text-align: left;*/
}

tbody {
  min-height: 2cm;
  max-height: 10cm;
  overflow-y: auto;
}

thead {
  /* fallback */
}


tbody td, thead th {
  width: 25%;
  float: left;
}

