tr{
  cursor: pointer;
}
thead{
  background-color: rgba(190,112,23,0.3);
  color:white;
font-family: fa5-proxima-nova,Helvetica Neue,Helvetica,Arial,sans-serif;;
}




table {
  width: 100%;


}

thead, tbody, tr, td, th { display: block;
color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
}

tr:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}

thead th {
  height: 1.5cm;

  /*text-align: left;*/
}

tbody {
  min-height: 2cm;
  max-height: 7cm;
  overflow-y: auto;
}

thead {
  /* fallback */
}


tbody td, thead th {
  width: 25%;
  float: left;
}

