
<!--<form class="form-inline my-2 my-lg-2 " style="width: 100%; background-color: rgba(173,173,180,0.8); height: 1.5cm" >-->

  <!--<input style="margin-left:1cm; width: 25%;" class="form-control mr-sm-2 float-right"-->
         <!--type="Search" placeholder="Chercher un Salarié"-->
         <!--name="keyWord" [(ngModel)]="keyWord" (keyup)="onSearch()" #keyword>-->
  <!--<span  data-toggle="tooltip" data-html="true" title=" Veuillez Taper le Nom ou le Prénom du Salarié"><i class="far fa-question-circle"></i></span>-->
<!--</form>-->

  <div class="input-group" style="width: 25%">
    <input type="text" class="form-control" placeholder="Search for..."
           name="keyWord" [(ngModel)]="keyWord" (keyup)="onSearch()" #keyword >
    <span class="input-group-btn">
        <button class="btn btn-secondary" type="button" > <i class="fas fa-times-circle fa-1x"></i></button>
      </span>
    <span style="margin-left: 2mm; margin-top: 2mm;"  data-toggle="tooltip" data-html="true" title=" Veuillez Taper le Nom ou le Prénom du Salarié"><i class="far fa-question-circle"></i></span>
  </div>

<br>

<table class="table table-hover table-striped " *ngIf="hideListe">
  <thead>
  <tr>
    <th class="col-xs-2">Matricule</th>
    <th class="col-xs-4" >Nom</th>
    <th class="col-xs-4">Prenom</th>
    <th class="col-xs-2">fonction</th>
  </tr>
  </thead>
  <tbody>

  <tr *ngFor="let employee of employees | filterByName : keyWord :searchableField "(click)="getEmployee(employee)" routerLink="employee-details/{{employee.matricule.toString()}}" >
    <td class="col-xs-2" >{{employee.matricule}}</td>
    <td class="col-xs-4" >{{employee.nom}}</td>
    <td class="col-xs-4" >{{employee.prenom}}</td>
    <td class="col-xs-2" >{{employee.fonction}}</td>
  </tr>

  </tbody>
</table>
