<div class="container-fluid home">
  <br>
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <div class="card card-default">
        <ul class="list-inline card-header">
          <li class="list-inline-item"> Administration</li>
          <li class="list-inline-item float-sm-right" >
            <a class="-pull-right" routerLink="home" style="color:gray;">Déconnexion<i class="fas fa-power-off" style="color: brown; padding-left: 2mm"></i></a></li>
        </ul>
        <div class="card-block">
          <ul class="list-group">
            <li class="list-group-item " ><a routerLink="/employee-list"><i class="fas fa-angle-right"></i>Gestion des niveaux</a></li>
            <li class="list-group-item " ><a routerLink="/Ajout nouveau salarie"><i class="fas fa-angle-right"></i> Gestion des Fonctions</a></li>
            <li class="list-group-item " ><a routerLink="/paysLip"><i class="fas fa-angle-right"></i> Gestion des Services</a></li>

          </ul>
        </div>

      </div>
    </div>

  </div>

</div>
