.row {
  border-top: none;
  margin-bottom: 5mm;
  margin-top: 5mm;
}
.card-header{

  background-color: white;
  color:#495057;
  font-family: fa5-proxima-nova,Helvetica Neue,Helvetica,Arial,sans-serif;

  font-weight: bold;
  padding-top: 2mm;


}
h5{
  padding-top: 2mm;
}

.home{
  background-color: rgba(39,49,61,0.5);
}
.list-group-item>a{
  font-weight: bold;
  color:rgba(204,112,23,0.86);
}
i{
  padding-right: 1mm;
  color:rgba(145,180,47,0.97);
}
.card{
  background-color: rgba(39,49,61,0.5);
}
