<div class="container-fluid home">

  <div class="row">
    <div class="col-sm-4">
      <div class="card card-default">
        <ul class="list-inline card-header">
          <li class="list-inline-item"> Administration</li>
          <li class="list-inline-item float-sm-right" >
            <a class="-pull-right" routerLink="home" style="color:gray;">Déconnexion<i class="fas fa-power-off" style="color: brown; padding-left: 2mm"></i></a></li>
        </ul>
        <div class="card-block">
          <ul class="list-group">
            <li class="list-group-item " ><a routerLink="levels"><i class="fas fa-angle-right"></i>Gestion des niveaux</a></li>
            <li class="list-group-item " ><a routerLink="fonctions"><i class="fas fa-angle-right"></i> Gestion des Fonctions</a></li>
            <li class="list-group-item " ><a routerLink="services"><i class="fas fa-angle-right"></i> Gestion des Services</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <router-outlet></router-outlet>
    </div>

  </div>

</div>
