
/*div.row {*/
/*border-bottom: solid;*/

/*border-left: solid;*/
/*border-width: 0.2mm;*/
/*border-color: #17a2b8;*/
/*}*/

/*div.row>div {*/

/*border-right: solid;*/
/*border-color: #17a2b8;*/

/*border-width: 0.2mm;*/
/*}*/
p{
  padding-top: 3mm;

  text-align: left;
}
.card-body>div{

  border-bottom: solid;
  border-top: solid;
  border-left: solid;
  border-right: solid;
  border-width: 0.2mm;
  border-color: darkgrey;
  text-align: center;
}

.card-body>div>div{

  border-bottom: solid;

  border-left: solid;
  border-right: solid;
  border-width: 0.2mm;
  border-color: darkgray;
}
.content{
  padding-top: 4mm;
  float: left;
}


.admin .modal #showPaysLip {
  /* new custom width */
  width: 9000px;
  /* must be half of the width, minus scrollbar on the left (30px) */
  margin-left: -375px;
}


tr {
  cursor: pointer;
}
thead{
  background-color: rgba(38,175,120,0.58);
  color:white;
  font-family: fa5-proxima-nova,Helvetica Neue,Helvetica,Arial,sans-serif;;
}

#clean{
  background-color:rgba(253,185,13,0.75);
  color: brown;
}
#info{
  color:white;
}

table {
  width: 100%;


}

thead, tbody, tr, td, th { display: block;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;

}

tr:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}

thead th {
  height: 1cm;

  /*text-align: left;*/
}

tbody {
  min-height: 2cm;
  max-height: 7cm;
  overflow-y: auto;
}

thead th {
  /* fallback */
  margin-bottom: 2mm;
}


tbody td, thead th {
  width: 25%;
  float: left;
  border-bottom: none;
}

