<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Nom Salarié</th>
    <th scope="col">Debut de periode</th>
    <th scope="col">Fin de periode</th>

  </tr>
  </thead>
  <tbody>

  <tr *ngFor="let paysLip of paysLips  "  (click)="hideList()">
    <th scope="row" >{{paysLip.idPyasLip}}</th>
    <th scope="row" >{{employee.prenom}} {{employee.nom}}</th>
    <td>{{paysLip.period[0] | date:'dd/MM/yyy'}}</td>
    <td>{{paysLip.period[1] | date:'dd/MM/yyy'}}</td>

  </tr>

  </tbody>
</table>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#showPaysLip">Large modal</button>

<div id= "showPaysLip" class="modal fade" tabindex="-1" role="document" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <app-view-pays-lip [employee]="employee"></app-view-pays-lip>
      </div>

    </div>
  </div>
</div>




