.row {
  border-top: none;
  margin-bottom: 5mm;
  margin-top: 5mm;
}
.card-header{

  background-color: #6c757d;
  color:rgba(222, 226, 230, 0.8);
  font-family: fa5-proxima-nova,Helvetica Neue,Helvetica,Arial,sans-serif;

  font-weight: bold;
  padding-top: 2mm;


}
h5{
  padding-top: 2mm;
}
.card-footer{
  background-color: white;
}
.home{
  background-color: white;
}
.list-group-item>a{
  font-weight: bold;
  color:rgba(204,112,23,0.86);
}
i{
  color:rgba(150,191,130,0.93);
}
